<form class="{{cssClass}} wholesheet" autocomplete="off">
    <header class="flexrow">
        {{> 'systems/shadowrun6e/dist/templates/actor/parts/ProfileImage.html'
            height='90px'
            width='90px'
        }}
        <div class="flexcol flex-end border-right">
            <div class="block">
                {{> 'systems/shadowrun6e/dist/templates/actor/parts/NameInput.html' }}
            </div>
            <div class="attributes smooth">
                <div class="block">
                    {{> 'systems/shadowrun6e/dist/templates/common/HorizontalCellInput.html'
                            value=data.matrix.condition_monitor.value
                            max=data.matrix.condition_monitor.max
                            id="matrix"
                            name=(localize "SR6.ConditionMonitor")
                    }}
                </div>
            </div>
        </div>
        <div class="flexcol flex-end">
            <div class="attributes center">
                {{> 'systems/shadowrun6e/dist/templates/actor/parts/Initiative.html' }}
                {{#> "systems/shadowrun6e/dist/templates/common/Attribute.html" cssClass="no-grow"}}
                    <div class="attribute-name">
                        {{localize "SR6.Labels.ActorSheet.DeviceRating"}}
                    </div>
                    <div class="attribute-value" title="{{localize 'SR6.Total'}}">
                        {{data.matrix.rating}}
                    </div>
                {{/"systems/shadowrun6e/dist/templates/common/Attribute.html"}}
            </div>
            <div>
                <div class="list-item">
                    <div class="item-left">
                        <div class="item-text item-name">
                            {{localize "SR6.Sprite.Services"}}
                        </div>
                    </div>
                    <div class="item-right">
                        <div class="item-text">
                            {{> 'systems/shadowrun6e/dist/templates/common/ValueInput.html'
                                    cssClass="attribute-input"
                                    size="2"
                                    maxLength="2"
                                    value=data.services
                                    name="data.services"
                            }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="tabs" data-group="primary">
        <a class="item" data-tab="actions">{{localize "SR6.Actions"}}</a>
        <a class="item" data-tab="skills">{{localize "SR6.Skills"}}</a>
        <a class="item" data-tab="misc">{{localize "SR6.Miscellaneous"}}</a>
    </nav>
    <section class="sheetbody">
        {{> "systems/shadowrun6e/dist/templates/actor/tabs/ActionsTab.html"}}
        {{> "systems/shadowrun6e/dist/templates/actor/tabs/matrix/SpriteSkillsTab.html"}}
        {{> "systems/shadowrun6e/dist/templates/actor/tabs/MiscTab.html"}}
    </section>
</form>
