<form class="{{cssClass}} wholesheet" autocomplete="off">
    <header class="flexrow">
        {{> 'systems/shadowrun6e/dist/templates/actor/parts/ProfileImage.html'
            height='90px'
            width='90px'
        }}
        <div class="flexcol flex-end border-right">
            <div class="flexrow">
                <div class="block">
                    {{> 'systems/shadowrun6e/dist/templates/actor/parts/NameInput.html' }}
                </div>
                <div class="attributes center">
                    {{> 'systems/shadowrun6e/dist/templates/actor/parts/vehicle/VehicleMovement.html' }}
                    {{> 'systems/shadowrun6e/dist/templates/actor/parts/Initiative.html' }}
                </div>
            </div>
            <div class="attributes smooth">
                <div class="block">
                    {{> 'systems/shadowrun6e/dist/templates/common/HorizontalCellInput.html'
                            name=(localize data.track.physical.label)
                            value=data.track.physical.value
                            max=data.track.physical.max
                            id='physical'
                    }}
                </div>
            </div>
        </div>
    </header>
    <div class="attributes no-border">
        <div class="attribute row space-around">
            <div class="attribute-name Roll" data-roll-id="drone.pilot-vehicle">
                {{localize "SR6.Labels.ActorSheet.RollPilotVehicleTest"}}
            </div>
            <div title="Defense" class="attribute-name Roll" data-roll-id="drone.perception">
                {{localize "SR6.Labels.ActorSheet.RollDronePerception"}}
            </div>
            <div title="Soak" class="attribute-name Roll" data-roll-id="drone.infiltration">
                {{localize "SR6.Labels.ActorSheet.RollDroneInfiltration"}}
            </div>
            <div
                    title="Roll"
                    class="attribute-name Roll fas fa-dice-six"
                    data-roll-id="prompt-roll"
            ></div>
            <div title="Defense" class="attribute-name Roll" data-roll-id="defense">
                {{localize "SR6.RollDefense"}}
            </div>
            <div title="Soak" class="attribute-name Roll" data-roll-id="damage-resist">
                {{localize "SR6.RollSoak"}}
            </div>
            <div class="attribute-name Roll" data-roll-id="armor">
                {{localize "SR6.RollArmor"}} ({{data.armor.value}})
            </div>
        </div>
    </div>
    <nav class="tabs" data-group="primary">
        <a class="item" data-tab="actions">{{localize "SR6.Actions"}}</a>
        <a class="item" data-tab="skills">{{localize "SR6.ActorTypes.Vehicle"}}</a>
        <a class="item" data-tab="gear">{{localize "SR6.Gear"}}</a>
        <a class="item" data-tab="matrix">{{localize "SR6.Matrix"}}</a>
        <a class="item" data-tab="misc">{{localize "SR6.Miscellaneous"}}</a>
    </nav>
    <section class="sheetbody">
        {{> "systems/shadowrun6e/dist/templates/actor/tabs/ActionsTab.html"}}
        {{> "systems/shadowrun6e/dist/templates/actor/tabs/vehicle/VehicleSkillsTab.html"}}
        {{> "systems/shadowrun6e/dist/templates/actor/tabs/vehicle/VehicleMatrixTab.html"}}
        {{> "systems/shadowrun6e/dist/templates/actor/tabs/GearTab.html"}}
        {{> "systems/shadowrun6e/dist/templates/actor/tabs/MiscTab.html"}}
    </section>
</form>
