<form class="sr6">
    {{> "systems/shadowrun6e/dist/templates/rolls/parts/parts-list.html"}}
    <div class="form-group">
        <label>{{localize 'SR6.IncomingDamage'}}</label>
        <input type="text" value="{{damage.value}}" name="incomingDamage" />
    </div>
    <div class="form-group">
        <label>{{localize 'SR6.DamageType'}}</label>
        <select name="damageType">
            {{#select damage.type.value}}
            {{#each damageTypes as |val key|}}
            <option value="{{key}}">{{localize val}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize 'SR6.AP'}}</label>
        <input type="text" value="{{damage.ap.value}}" name="ap" data-dtype="Number" />
    </div>
    <div class="form-group">
        <label>{{localize 'SR6.Element'}}</label>
        <select name="element">
            {{#select damage.element.value}}
            <option value="">{{localize "SR6.None"}}</option>
            {{#each elementTypes as |val key|}}
            <option value="{{key}}">{{localize val}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</form>
